<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>    
    <title>Diagnost8</title>
</head>
<body>
    <%- include("./navbar/bodynavbar.ejs"); %>
    <%- include("./navbar/navbarFull.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1>Add Diseases</h1>
    <form action="/diseases/add" method="post">
        <label for="name">Name</label><br>
        <input class="form-control" type="text" name="name">
        <br><br>
        <label for="diagnosis">Diagnosis</label><br>
        <input class="form-control" type="text" name="diagnosis">
        <br><br>
        <label for="procedure">Procedure</label><br>
        <textarea class="form-control" name="procedure"></textarea>
        <br><br>
        <label for="status">Status</label><br>
        <select class="form-control" name="status">
            <option disabled selected>-- Select Status --</option>
            <option value="Deadly">Deadly</option>
            <option value="Common">Common</option>
        </select>
        <br><br>
        <input class="form-control" type="submit" value="Add Disease">
    </form>
</div>
</div>

</body>
</html>