<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnost8</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <a href="/diseases"><button>Diseases</button></a>
    <a href="/medicines"><button>Medicines</button></a>
    <a href="/diseases/add"><button>Add Diseases</button></a>
    <a href="/medicines/add"><button>Add Medicine</button></a>
    <h1>Add Diseases</h1>
    <form action="/medicines/add" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" required>
        <br><br>
        <label for="company">Company</label><br>
        <input type="text" name="company" required>
        <br><br>
        <label for="regDate">Registration Date</label><br>
        <input type="Date" name="regDate" required>
        <br><br>
        <label for="description">Description</label><br>
        <textarea name="description" required></textarea>
        <br><br>
        <input type="submit" value="Add Medicine">
    </form>

</body>
</html>