<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Diagnost8</title>
</head>
<body>
    <%- include("./navbar/bodynavbar.ejs"); %>
    <%- include("./navbar/homenavbar.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1>SignUp</h1>
    <form action="/users/signUpProfile" method="post">
        <label for="name">Name</label><br>
        <input class="form-control" type="text" name="name">
        <br>
        <label for="gender">Gender</label><br>
        <input type="radio" name="gender" value="Male">
        <label for="Male">Male</label>
        <input type="radio" name="gender" value="Female">
        <label for="Female">Female</label>
        <br><br>
        <label for="dateOfBirth">Date of Birth</label><br>
        <input class="form-control" type="date" name="dateOfBirth">
        <br><br>
        <input class="form-control" type="submit" value="Next">
    </form>
</div>
</div>
</body>
</html>