<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./navbar/headnavbar.ejs"); %>
    <title>Diagnost8</title>
</head>
<body>
    <%- include("./navbar/bodynavbar.ejs"); %>
    <%- include("./navbar/homenavbar.ejs"); %>
    <div class="container">
        <div class="mt-4 ml-5 mr-5 mb-4">
    <h1>SignUp</h1>
    <form action="/users/signUpUser" method="post">
        <label for="email">Email</label><br>
        <input class="form-control" type="text" name="email">
        <br><br>
        <label for="password">Password</label><br>
        <input class="form-control" type="password" name="password">
        <br><br>
        <label for="role">User Type</label><br>
        <input type="radio" name="role" value="Admin">
        <label for="role">Admin</label>
        <input type="radio" name="role" value="Guest">
        <label for="role">Guest</label><br>
        <input class="form-control" name="ProfileId" type="text" value="<%= send.id %>" hidden>
        <br><br>
        <input class="form-control" type="submit" value="SignUp">
    </form>
</div>
</div>
</body>
</html>